
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/png" />
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="/css/app.css" type="text/css" />
<style>
  body {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  height: 100vh;
  background-color: #F5F5F5;
  }
 </style>
<title><%= appname %></title>
</head>
<body>
  <nav class="navbar navbar-dark bg-info">
    <div class="container">
      <div class="w-100 d-flex flex-wrap justify-content-between align-items-center text-white">
        <p class="my-1">Diagnose yourself 24/7, No time or place limitations</p>
        <p class="my-1">For help call us on +234 812 3456 789</p>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-sm navbar-light bg-white">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="/"><h5 class="mb-0">E-Diagnostics</h5></a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-list text-dark" aria-hidden="true"></i></button>
      <div style="margin-left: 50px" class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/diagnosis">Perform Diagnostics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fact-book">Hepatitis Fact Book</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>