<%-include ("./partials/top") %>
<div class="container">
  <h3 class="display-4 pb-4" style="border-bottom: 1px solid #333;">Hepatitis B Fact Book</h3>
  <div class="space">
  <h2>Overview</h2><!--googleon: all--><p>Hepatitis B is a serious liver infection caused by the hepatitis B virus (HBV). For some people, hepatitis B infection becomes chronic, meaning it lasts more than six months. Having chronic hepatitis B increases your risk of developing liver failure, liver cancer or cirrhosis — a condition that permanently scars of the liver.</p><div id="ad-mobile-top-container"></div>
  <p>Most adults with hepatitis B recover fully, even if their signs and symptoms are severe. Infants and children are more likely to develop a chronic (long-lasting) hepatitis B infection.</p>
  <p>A vaccine can prevent hepatitis B, but there's no cure if you have the condition. If you're infected, taking certain precautions can help prevent spreading the virus to others.</p>
    
  <h2>Symptoms</h2><p>Signs and symptoms of hepatitis B range from mild to severe. They usually appear about one to four months after you've been infected, although you could see them as early as two weeks post-infection. Some people, usually young children, may not have any symptoms.</p>
  <p>Hepatitis B signs and symptoms may include:</p>
  <ul>
  <li>Abdominal pain</li>
  <li>Dark urine</li>
  <li>Fever</li>
  <li>Joint pain</li>
  <li>Loss of appetite</li>
  <li>Nausea and vomiting</li>
  <li>Weakness and fatigue</li>
  <li>Yellowing of your skin and the whites of your eyes (jaundice)</li>
  </ul>

    
  <h3>When to see a doctor</h3>
  <p>If you know you've been exposed to hepatitis B, contact your doctor immediately. A preventive treatment may reduce your risk of infection if you receive the treatment within 24 hours of exposure to the virus.</p>
  <p>If you think you have signs or symptoms of hepatitis B, contact your doctor.</p>
  <h2>Causes</h2><p>Hepatitis B infection is caused by the hepatitis B virus (HBV). The virus is passed from person to person through blood, semen or other body fluids. It does not spread by sneezing or coughing.</p>
  <p>Common ways that <abbr title="hepatitis B virus">HBV</abbr> can spread are:</p>
  <ul>
  <li><strong>Sexual contact.</strong> You may get hepatitis B if you have unprotected sex with someone who is infected. The virus can pass to you if the person's blood, saliva, semen or vaginal secretions enter your body.</li>
  <li><strong>Sharing of needles.</strong> <abbr title="Hepatitis B virus">HBV</abbr> easily spreads through needles and syringes contaminated with infected blood. Sharing IV drug paraphernalia puts you at high risk of hepatitis B.</li>
  <li><strong>Accidental needle sticks.</strong> Hepatitis B is a concern for health care workers and anyone else who comes in contact with human blood.</li>
  <li><strong>Mother to child.</strong> Pregnant women infected with <abbr title="hepatitis B virus">HBV</abbr> can pass the virus to their babies during childbirth. However, the newborn can be vaccinated to avoid getting infected in almost all cases. Talk to your doctor about being tested for hepatitis B if you are pregnant or want to become pregnant.</li>
  </ul>

    
    <h3>Acute vs. chronic hepatitis B</h3><p>Hepatitis B infection may be either short-lived (acute) or long lasting (chronic).</p>
  <ul>
  <li><strong>Acute hepatitis B infection</strong> lasts less than six months. Your immune system likely can clear acute hepatitis B from your body, and you should recover completely within a few months. Most people who get hepatitis B as adults have an acute infection, but it can lead to chronic infection.</li>
  <li><strong>Chronic hepatitis B infection</strong> lasts six months or longer. It lingers because your immune system can't fight off the infection. Chronic hepatitis B infection may last a lifetime, possibly leading to serious illnesses such as cirrhosis and liver cancer.</li>
  </ul>
  <p>The younger you are when you get hepatitis B — particularly newborns or children younger than 5 — the higher your risk of the infection becoming chronic. Chronic infection may go undetected for decades until a person becomes seriously ill from liver disease.</p>

    
    <h2>Risk factors</h2><p>Hepatitis B spreads through contact with blood, semen or other body fluids from an infected person. Your risk of hepatitis B infection increases if you:</p>
  <ul>
  <li>Have unprotected sex with multiple sex partners or with someone who's infected with <abbr title="hepatitis B virus">HBV</abbr></li>
  <li>Share needles during IV drug use</li>
  <li>Are a man who has sex with other men</li>
  <li>Live with someone who has a chronic <abbr title="hepatitis B virus">HBV</abbr> infection</li>
  <li>Are an infant born to an infected mother</li>
  <li>Have a job that exposes you to human blood</li>
  <li>Travel to regions with high infection rates of <abbr title="hepatitis B virus">HBV</abbr>, such as Asia, the Pacific Islands, Africa and Eastern Europe</li>
  </ul>

    
    <h2>Complications</h2><p>Having a chronic <abbr title="hepatitis B virus">HBV</abbr> infection can lead to serious complications, such as:</p>
  <ul>
  <li><strong>Scarring of the liver (cirrhosis).</strong> The inflammation associated with a hepatitis B infection can lead to extensive liver scarring (cirrhosis), which may impair the liver's ability to function.</li>
  <li><strong>Liver cancer.</strong> People with chronic hepatitis B infection have an increased risk of liver cancer.</li>
  <li><strong>Liver failure.</strong> Acute liver failure is a condition in which the vital functions of the liver shut down. When that occurs, a liver transplant is necessary to sustain life.</li>
  <li><strong>Other conditions.</strong> People with chronic hepatitis B may develop kidney disease or inflammation of blood vessels.</li>
  </ul>

  <h2>Prevention</h2><p>The hepatitis B vaccine is typically given as three or four injections over six months. You can't get hepatitis B from the vaccine.</p>
  <p>The hepatitis B vaccine is recommended for:</p>
  <ul>
  <li>Newborns</li>
  <li>Children and adolescents not vaccinated at birth</li>
  <li>Those who work or live in a center for people who are developmentally disabled</li>
  <li>People who live with someone who has hepatitis B</li>
  <li>Health care workers, emergency workers and other people who come into contact with blood</li>
  <li>Anyone who has a sexually transmitted infection, including HIV</li>
  <li>Men who have sex with men</li>
  <li>People who have multiple sexual partners</li>
  <li>Sexual partners of someone who has hepatitis B</li>
  <li>People who inject illegal drugs or share needles and syringes</li>
  <li>People with chronic liver disease</li>
  <li>People with end-stage kidney disease</li>
  <li>Travelers planning to go to an area of the world with a high hepatitis B infection rate</li>
  </ul>

    
  <h3>Take precautions to avoid HBV</h3><p>Other ways to reduce your risk of <abbr title="hepatitis B virus">HBV</abbr> include:</p>
  <ul>
  <li><strong>Know the <abbr title="hepatitis B virus">HBV</abbr> status of any sexual partner.</strong> Don't engage in unprotected sex unless you're absolutely certain your partner isn't infected with <abbr title="hepatitis B virus">HBV</abbr> or any other sexually transmitted infection.</li>
  <li><strong>Use a new latex or polyurethane condom every time you have sex</strong> if you don't know the health status of your partner. Remember that although condoms can reduce your risk of contracting <abbr title="hepatitis B virus">HBV</abbr>, they don't eliminate the risk.</li>
  <li><strong>Don't use illegal drugs.</strong> If you use illicit drugs, get help to stop. If you can't stop, use a sterile needle each time you inject illicit drugs. Never share needles.</li>
  <li><strong>Be cautious about body piercing and tattooing.</strong> If you get a piercing or tattoo, look for a reputable shop. Ask about how the equipment is cleaned. Make sure the employees use sterile needles. If you can't get answers, look for another shop.</li>
  <li><strong>Ask about the hepatitis B vaccine before you travel.</strong> If you're traveling to a region where hepatitis B is common, ask your doctor about the hepatitis B vaccine in advance. It's usually given in a series of three injections over a six-month period.</li>
  </ul>

</div>

</div>


<%-include ("./partials/bottom") %>