<%-include ("./partials/top") %>
<style>
  .with-bg {
    background-image: url('/images/bg1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 64% center;
  }
</style>
<div class="with-bg">
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card bg-transparent mt-4">
        <div class="card-header bg-transparent">
          <h3 class="font-weight-bold">Hepatitis-B E-Diagnosis</h3>
          <h5>Allows you to check yourself of Hepatitis B Infection anywhere, anytime</h5>
        </div>

        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.6);">
          <div class="mb-4">
            <h5 class="mb-0 text-info"><i class="fa fa-check-circle" aria-hidden="true"></i> Input the way you feel</h5>
            <span class="ml-4">The application suggests probable ailment</span>
          </div>
          <div class="mb-4">
            <h5 class="mb-0 text-info"><i class="fa fa-check-circle" aria-hidden="true"></i> Gives Mobility</h5>
            <span class="ml-4">It can be done at user's convenience</span>
          </div>
          <div class="mb-4">
            <h5 class="mb-0 text-info"><i class="fa fa-check-circle" aria-hidden="true"></i> Free daily check</h5>
            <span class="ml-4">Check yourself daily to see if your body system is in normal form</span>
          </div>
          <div class="d-flex w-100 justify-content-end py-3">
            <a href="/diagnosis" class="btn btn-info">Start Diagnostics</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<%-include ("./partials/bottom") %>